logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
ivycache
app_version
.ivy2
.sonar
/scripts/dspconfig
vendor/
Gemfile.lock
.idea/workspace.xml
*.sc
*.log*
.DS_Store
/node_modules/
*.iml
.java-version
